## INIT

In [4]:
import tweepy
import pandas as pd
import numpy as np

In [2]:
# assign the values accordingly 
consumer_key = "OMJv2A5J1XvXdBSLykjbzQvjN" 
consumer_secret = "IF1tUCs5uFhKNN4PILugYgTdfaFDEakS4gbzWHKEL92dIoSRHA" 
access_token = "3097042092-HXzJwRZ4BRSiTa67RfHnlE7CeF01gutElIP6UoT" 
access_token_secret = "kZYcycMakp0z3jcGC07UpLynOWvvtoBiAmwVjJKziSYB8"

In [3]:
# authorization of consumer key and consumer secret 
auth = tweepy.OAuthHandler(consumer_key, consumer_secret) 
  
# set access to user's access key and access secret  
auth.set_access_token(access_token, access_token_secret) 
  
# calling the api  
api = tweepy.API(auth, wait_on_rate_limit=True)

## CEO

In [21]:
import pandas as pd
dff= pd.read_csv('verify_handles_with_twint.csv')
dff.drop(['Unnamed: 0', 'GVKEY', 'EXECID'], axis=1, inplace=True)
dff.rename(columns={'CEO Name': 'CEO', 'handles': 'Handle'}, inplace=True)
dff['CEO']= dff['CEO'].str.replace('/', '')
dff.head()

                     CEO                      Company    YEAR         Handle
0       Thomas W. Horton  AMERICAN AIRLINES GROUP INC  2012.0  ThomasWHorton
1      Lisa T. Su, Ph.D.       ADVANCED MICRO DEVICES  2015.0         LisaSu
2  Mark Thomas Bertolini                    AETNA INC  2011.0         mtbert
3       David J. Aldrich       SKYWORKS SOLUTIONS INC  2007.0     davidjs379
4           John B. Hess                    HESS CORP  2007.0      johnbhess

In [28]:
ceos=[]
companies=[]
years=[]
handles=[]
descriptions=[]
verified=[]


for i in range(len(dff)):
    j= dff.iloc[i]['Handle']
    try:
        result=api.get_user(j).verified
        if result==True:
            ceos.append(dff.iloc[i]['CEO'])
            companies.append(dff.iloc[i]['Company'])
            years.append(dff.iloc[i]['YEAR'])
            handles.append(j)
            descriptions.append(api.get_user(j).description)
            verified.append(result)
        elif(('ceo' in api.get_user(j).description.lower()) and int(api.get_user(j).followers_count)>100):
            ceos.append(dff.iloc[i]['CEO'])
            companies.append(dff.iloc[i]['Company'])
            years.append(dff.iloc[i]['YEAR'])
            handles.append(j)
            descriptions.append(api.get_user(j).description)
            verified.append(result)
        else:
            ceos.append(dff.iloc[i]['CEO'])
            companies.append(dff.iloc[i]['Company'])
            years.append(dff.iloc[i]['YEAR'])
            handles.append(np.NaN)
            descriptions.append(np.NaN)
            verified.append(np.NaN)
    except:
        print('bad user name,', j)
        pass

columns = ['CEO','Company', 'YEAR', 'Handle', 'Twitter_Descr', 'verified']
gdf = pd.DataFrame(list(zip(ceos, companies, years, handles, descriptions, verified)), columns =columns) 
gdf.to_csv("handles_google_lookup.csv", index=False)

bad user name, williamccobb
bad user name, DougConant/
bad user name, FoundersPatriot
bad user name, RichardFsmith10
bad user name, whoismarkfields/
bad user name, presjimryan/
bad user name, ceocherylmiller
bad user name, chaocheng/
bad user name, keithhutton2/
bad user name, richardahaynes
bad user name, elonjames/
bad user name, DSAMikeP
bad user name, UHLCEO
bad user name, jer979/igniting-the-revolution/a-message-from-ameriprise-chairman-and-ceo-james-m-cracchiolo/

In [41]:
gdf= gdf[gdf['verified']!=False]
gdf.dropna(subset=['verified'], axis=0, inplace=True)
gdf.shape

(107, 6)

In [42]:
gdf.drop_duplicates(inplace=True)
gdf.shape

(107, 6)

In [43]:
tdf.drop_duplicates(inplace=True)
tdf.shape

(102, 6)

In [44]:
handlesdf= pd.concat([gdf, tdf], axis=0)
handlesdf

,CEO,Company,YEAR,Handle,Twitter_Descr,verified
1,"Lisa T. Su, Ph.D.",ADVANCED MICRO DEVICES,2015.0,LisaSu,President and CEO of @AMD,True
2,Mark Thomas Bertolini,AETNA INC,2011.0,mtbert,"Devoted father, rabid hockey fan, retiree and ...",True
6,Robert Alan Essner,WYETH,2007.0,robertiger,Executive Chairman The Walt Disney Company,True
9,Timothy D. Cook,APPLE INC,2012.0,tim_cook,Apple CEO  Auburn 🏀 🏈 Duke 🏀 National Parks 🏞...,True
10,James J. OBrien,ASHLAND GLOBAL HOLDINGS INC,2007.0,mrjamesob,How Not To Be Wrong: The Art Of Changing Your ...,True
...,...,...,...,...,...,...
3819,Eric E. Schmidt,ALPHABET INC,2007.0,ericschmidt,Former Executive Chairman & CEO and from Schmi...,True
3835,Sundar Pichai,ALPHABET INC,2019.0,sundarpichai,"CEO, Google and Alphabet",True
3935,Michael D. Brown,WYNDHAM DESTINATIONS INC,2018.0,MichaelBrownUSA,Former Under Secretary of Homeland Security. H...,True
3936,Michael D. Brown,WYNDHAM DESTINATIONS INC,2018.0,SenMDBrown,"United States Senator (D-DC), crusader for dem...",True
3955,Hikmet Ersek,WESTERN UNION CO,2011.0,WesternUnionCEO,"CEO of The Western Union Company, LLC (Official)",True

In [46]:
handlesdf.drop_duplicates(inplace=True)
handlesdf.to_csv('final_list of Handles.csv', index=False)

In [2]:
val= pd.read_csv(r'C:\Users\sachi\Desktop\Twitter Mindset\CEO Mindset\ISB internship CEO\final_list of Handles_validated.csv')
val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CEO            183 non-null    object
 1   Company        183 non-null    object
 2   YEAR           183 non-null    int64
 3   Handle         183 non-null    object
 4   Twitter_Descr  176 non-null    object
 5   verified       183 non-null    bool
 6   Validated      81 non-null     object
dtypes: bool(1), int64(1), object(5)
memory usage: 8.9+ KB

In [3]:
val.Validated

0      True
1      True
2      True
3      True
4       NaN
       ...
178    True
179    True
180     NaN
181     NaN
182     NaN
Name: Validated, Length: 183, dtype: object

In [6]:
val= val[val.Validated==True]
val.shape

(81, 7)

In [4]:
# count=0
# for i in range(len(val)):
#     users = api.get_user(val.iloc[i]['Handle'])
#     print(users.statuses_count)
#     if users.statuses_count<100:
#         print(val.iloc[i]['CEO'], val.iloc[i]['Company'], val.iloc[i]['Handle'])
#         print()
#         count=count+1

# print(count)

In [22]:
df.drop(['CEO Name', 'ceos', 'YEAR'], axis=1, inplace=True)
df.drop_duplicates(subset=['Company'], inplace=True)
df.shape

(782, 3)

In [23]:
df

                           Company     GVKEY   EXECID
1       ADC TELECOMMUNICATIONS INC    1013.0  10203.0
2      AMERICAN AIRLINES GROUP INC    1045.0  14591.0
5       PINNACLE WEST CAPITAL CORP    1075.0  10739.0
7              ABBOTT LABORATORIES    1078.0  14300.0
8           ADVANCED MICRO DEVICES    1161.0  20918.0
...                            ...       ...      ...
1637                CBRE GROUP INC  260774.0  30552.0
1639     WELLCARE HEALTH PLANS INC  260778.0  31719.0
1644  LYONDELLBASELL INDUSTRIES NV  294524.0  31023.0
1646                  ALLEGION PLC  316056.0  34850.0
1647            NVENT ELECTRIC PLC  326688.0  49088.0

[782 rows x 3 columns]

In [24]:
df.to_csv('SnP500_List.csv', index=False)

# Company