In [1]:
# IMPORTS AND FILE INPUT

import pandas as pd

import twint
import os
import time
import nest_asyncio
nest_asyncio.apply()
from threading import Thread

import tweepy
import pandas as pd
import numpy as np

os.getcwd()

os.chdir(r'D:\OneDrive - Indian School of Business\Projects\JSI\JSI_OnlineActivity\Tweets Data\input')
os.listdir()

['NSE List for Stocks Merge.csv',
 'NSE Nifty500 List Clean Names.csv',
 'nse-nifty500list.csv',
 'Updated_handles_list.csv',
 'updated_handles_tweepy_verification.csv']

In [2]:
df= pd.read_csv('updated_handles_tweepy_verification.csv')
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
df['CompanyName']= df['CompanyName'].str.replace('.', '')
df.to_csv('Updated_handles_list.csv')
df.shape

(332, 10)

In [3]:
df.head()

,Industry,CompanyName,cn,Symbol,Series,ISIN Code,handle,verified,descriptions,tweetscount
0,INDUSTRIAL MANUFACTURING,ABB India,abbindialtd,EQ,ABB,INE117A01022,ABBIndia,False,A #technology leader that is driving the digit...,2307
2,INDUSTRIAL MANUFACTURING,AIA Engineering,aiaengineeringltd,EQ,AIAENG,INE212H01026,aiaengineers,False,Consulting Engineering firm founded in 1985 pr...,202
3,METALS,APL Apollo Tubes,aplapollotubesltd,EQ,APLAPOLLO,INE702C01019,aplapollo_tubes,False,India's Largest Structural Steel Tube Brand,848
5,SERVICES,Adani Enterprises,adanienterprisesltd,EQ,ADANIENT,INE423A01024,AdaniOnline,True,A leading business conglomerate enriching live...,2642
6,CONSUMER GOODS,Aditya Birla Fashion and Retail,adityabirlafashionandretailltd,EQ,ABFRL,INE647O01011,AdityaBirlaGrp,True,Official Twitter account of Aditya Birla Group...,4165

# TWINT SCRAPER

In [4]:
def tweetbySearch():
    c= twint.Config()
    c.Search= 'sensex%20OR%20nifty%20OR%20nse%20OR%20bse%20OR%20indianstockmarket%20OR%20bombaystockexchange%20OR%20nseindia%20OR%20dalalstreet%20OR%20niftyfifty'
    c.Since = "2018-01-01"
    c.Until = "2020-12-31"
    c.Lang= "en"
    c.Verified = True
    c.Hide_output = True
    c.Format = "Search: {username} | Tweet: {tweet}"
    c.Store_csv = True
    c.Output = "Stock_Tags_Run4.csv"
    c.Debug = True
    
    try:
        twint.run.Search(c)    
    except (KeyboardInterrupt, SystemExit):
        raise
    except:
        print("Problem with %s." % since)

In [5]:
os.chdir(r'D:\OneDrive - Indian School of Business\Projects\JSI\JSI_OnlineActivity\Tweets Data\output\collected\byHashTags')

In [6]:
start_time= time.time()
tweetbySearch()
print("time taken= ", (time.time()-start_time)/60, " minutes")

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
time taken=  45.512739264965056  minutes

In [7]:
#Try this
# >10 likes OR >5comments OR >2retweets for all tweets Verified or not